<header>
  <div class="app-container center">
    <h1>Welcome to Fade Clinic</h1>
  </div>
</header>
<main class="main">
  <div class="center">
    <p>Select an option</p>
  </div>
  <div class="center schedule-buttons-container">
    <button mat-raised-button (click)="onScheduleByDateClicked()">
      Schedule by Date
    </button>
    <button mat-raised-button (click)="onScheduleByBarberSchedule()">
      Schedule by Barber
    </button>
  </div>
  <div *ngIf="showScheduleByDate" class="center">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateSelected()"/>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="showBarberList" class="barber-list">
    <mat-card class="barber-card">
        <mat-card-header>
          <mat-card-title>Kris  Blaze</mat-card-title>
          <mat-card-subtitle>Exp: 7 years</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Book</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </div>
</main>
<footer class="footer-container center">big ass footer</footer>
